@import "./Utils/variables.scss";

.input-container {
	width: 30%;
	margin: 0 5%;
	position: relative;
}

.icon {
	position: absolute;
	right: 10px;
	top: calc(50% + 5px);
	transform: translateY(calc(-50% - 5px));
}

.searchBarHome {
	width: 100%;
	height: 40px;
	padding: 10px;
	transition: 0.2s linear;
	border: 2.5px solid black;
	background-color: $Colorfond;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.searchBarHome:focus {
	background-color: $ColorPrimary;
	outline: none;
	border: 0.5px solid black;
	box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
	animation: anim 1s linear infinite;
}

@keyframes anim {
	0%,
	100% {
		transform: translateY(calc(-50% - 5px)) scale(1);
	}

	50% {
		transform: translateY(calc(-50% - 5px)) scale(1.1);
	}
}
